@import url('https://fonts.googleapis.com/css2?family=Ewert&display=swap')

{
  font-family: "Ewert", serif;
  font-weight: 400;
  font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
  }
  .abc {
    overflow: hidden;
  }
  a:hover,
  i:hover {
    opacity: 0.85;
  }
  
  

  
body{
    background-color: rgb(248, 247, 243);
  }
  
  :root {
    --primary-text-color: #0b0a0a;
    --primary-text-color-2: #080808;
  }
  
  .pri-btn {
    padding: 8px 15px 6px;
    display: inline-block;
    border-radius: 30px;
    color: #fff;
    letter-spacing: 2px;
    text-decoration: none;
  }
  
  .flex-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .sub-title__text {
    color: var(--primary-text-color);
    letter-spacing: 2px;
    font-size: 15px;
  }
  
  .title__text {
    color: var(--primary-text-color-2);
    display: inline-block;
    font-size: 40px;
    
  }
  .titles__text {
    color: var(--primary-text-color-2);
    display: inline-block;
    font-size: 40px;
   
  }
  .--title__text-underline {
    position: relative;
  }
  
  .--title__text-underline:after {
    content: "";
    display: block;
    opacity: 0.7;
    height: 4px;
    position: absolute;
    right: 0;
    bottom: 10px;
    border-radius: 24%;
    width: 100%;
  }
  
  .sub-menu__text::after {
    background-color: #ffd105;
    height: 3px;
  }
  .dest-text::after {
    background-color: #1bbc9b;
  }
  .beaches-text::after {
    background-color: #14b9d5;
  }
  .holiday-text::after {
    background-color: #e66874;
  }
  .promotion-text::after {
    background-color: #1bbc9b;
  }
  
  .sub-menu__text {
    font-size: 25px;
  }
  
  


   

  .videobg {
    position: center;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background: red
    margin: 0;
    padding: 0;
  }
  .videobg {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background: url("bubbles.mp4") no-repeat center center/cover;
  }
  video {
    min-width: 100%;
    min-height: 100vh;
    z-index: 1;
  }
  .overlay {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-image: 
    background-size: 3px 3px;
    z-index: 2;
  }
  h1 {
    text-align: center;
    color: #fe1b1b;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 3;
    max-width: 400px;
    width: 100%;
    height: 50px;
   no-repeat :center center/cover;
  }
  video {
    min-width: 100%;
    min-height: 100vh;
    z-index: 1;
  }
  .overlay{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-image: 
    background-size: 3px 3px;
    z-index: 2;
  
  }
  h1 {
    text-align: center;
    color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 3;
    max-width: 400px;
    width: 100%;
    height: 50px;
  }
  /*START HEADER */
  
header {
    width: 100%;
    height: 104px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    
  }
  
  .header__logo {
    margin-left: 64px;
    margin-right: 64px;
    text-align: center;
    text-decoration: none;
  }
  
  .header__logo img {
    width: 64px;
    object-fit: cover;
    object-position: center;
  }
  
  .header__navbar {
    list-style: none;
  }
  
  .navbar__item {
    position: relative;
  }
  
  .navbar__link {
    text-decoration: vanity;
    color: #f3f3f7;
    font-size: 14px;
    letter-spacing: 2px;
    padding: 8px 15px 6px;
    position: relative;
  }
  
  .navbar__link:not(:last-child)::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 30px;
    background-color: transparent;
  }
  
  .navbar__btn {
    background-color: #f31d1d;
    margin-left: 50px;
  }
  
  .header__menu-icon {
    color: #f34d4d;
    font-size: 40px;
    margin-left: 64px;
    margin-right: 64px;
    cursor: pointer;
  }

  /* Start Subnav */

.navbar__item:hover .header__subnav {
    display: block;
  }
  
  .header__subnav {
    position: absolute;
    left: 0;
    top: calc(100% + 24px);
    background-color: #f81818;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.4);
    width: 200px;
    list-style: none;
    z-index: 1;
    display: none;
  }
  
  .header__ex-subnav {
    position: absolute;
    left: calc(100% + 24px);
    top: 0;
    background-color: #fff;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.4);
    width: 200px;
    list-style: none;
    z-index: 1;
    display: none;
  }
  
  .subnav__item:hover .header__ex-subnav {
    display: block;
  }
  
  .--subnav__after::after {
    content: "";
    display: block;
    position: absolute;
    right: -24px;
    background-color: transparent;
    width: 24px;
    height: 100%;
  }
  
  .subnav__item {
    position: relative;
    padding: 12px 24px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .subnav__item:hover {
    background-color: rgba(0, 0, 0, 0.05);
    cursor: pointer;
  }
  
  .subnav__item:last-child {
    border-bottom: none;
  }
  
  .subnav__link {
    text-decoration: none;
    color: var(--primary-text-color);
    font-size: 15px;
    letter-spacing: 2px;
    width: 100%;
  }
  
  .subnav__item span {
    display: inline-block;
    padding: 2px 4px 2px 5px;
    letter-spacing: 1px;
    border-radius: 4px;
    font-size: 10px;
    color: #fff;
  }
  
  .subnav__sticker-color-red {
    background-color: #f76570;
  }
  
  .subnav__sticker-color-green {
    background-color: #1bbc9b;
  }
  
  .subnav__sticker-color-blue {
    background-color: #14b9d5;
  }
  
  .subnav__item i {
    font-size: 10px;
    color: var(--primary-text-color);
    transform: translateY(1px);
  }

  .theme__holiday {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    width: 80%;
    max-width: 1200px;
    letter-spacing: 1px;
  }
  
  .holiday__title {
    font-size: 50px;
    margin-bottom: 20px;
  }
  
  .holiday__text {
    font-size: 20px;
    letter-spacing: 3px;
    margin-bottom: 40px;
  }
  
  
  
  .holiday__choose-wrap {
    width: 44%;
    margin-right: auto;
    margin-left: auto;
  }
  
  .holiday__choose-item {
    width: 108px;
    height: 104px;
    background-color: rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .holiday__choose-item a {
    text-decoration: none;
    color: #fff;
  }
  
  .holiday__choose-item img {
    width: 32%;
  }
  
  .holiday__choose-item span {
    display: block;
    font-size: 12px;
  }
  
  /* END HOLIDAY */
  
  /*START SUB MENU */
  .sub-menu__check:checked ~ .sub-menu {
    transform: translateX(0%);
    opacity: 1;
  }
  
  .sub-menu {
    position: fixed;
    right: 0;
    top: 0;
    opacity: 0;
    transform: translateX(100%);
    width: 376px;
    background-color: #fff;
    z-index: 1;
    padding: 0px 30px 0 42px;
    height: 100vh;
    overflow-y: auto;
    transition: linear 0.5s;
  }
  
  .sub-menu-tablet-mobile {
    position: fixed;
    right: 0;
    top: 0;
    width: 300px;
    height: 100%;
    background-color: #555555;
    z-index: 1;
    padding: 24px;
    opacity: 0;
    transform: translateX(100%);
    transition: linear 0.5s;
    overflow-y: scroll;
  }
  
  .navbar-mobile__list,
  .subnav-mobile__list {
    list-style: none;
  }
  
  .navbar-mobile__item {
    margin-bottom: 16px;
  }
  
  .navbar-mobile__link,
  .subnav-mobile__link {
    text-decoration: none;
    color: #fff;
  }
  
  .navbar-mobile__link {
    font-weight: bold;
    font-size: 20px;
  }
  
  .subnav-mobile__link {
    font-size: 14px;
    letter-spacing: 2px;
    margin-left: 24px;
  }
  
  .sub-menu__close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 32px;
    color: var(--primary-text-color);
    opacity: 0.7;
    cursor: pointer;
  }
  
  .sub-menu__places {
    margin-top: 24px;
    text-align: center;
    margin-bottom: 40px;
  }
  
  .sub-menu__title:after {
    content: "";
    display: block;
    background-color: #ffd105;
    opacity: 0.5;
    width: 100%;
    height: 5px;
    position: absolute;
    bottom: 11px;
  }
  
  .sub-menu__place-wrap {
    margin-top: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .sub-menu__place-wrap img {
    width: 100px;
    height: 100px;
  }
  
  .sub-menu__place-info {
    flex: 1;
    margin-left: 28px;
    text-align: left;
  }
  
  .sub-menu__place-info h5 {
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-top: -8px;
  }
  
  .sub-menu__place-info p,
  .promotion__item-head p {
    color: var(--primary-text-color);
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 14px;
  }
  
  .sub-menu__place-info p i {
    transform: translatey(1px);
    opacity: 0.7;
    margin-right: 6px;
  }
  
  .sub-menu__place-info a {
    font-size: 14px;
    text-decoration: none;
  }
  
  .sub-menu__btn {
    padding: 4px 20px;
    margin-top: 20px;
  }
  .--berlin-btn-color {
    background: linear-gradient(to right, #ffd205 0%, #ff9b05 100%);
  }
  
  .--hong-kong-btn-color {
    background: linear-gradient(to right, #f76570 0%, #f78d65 100%);
  }
  
  .--san-fran-btn-color {
    background: linear-gradient(to right, #ba71da 0%, #da717b 100%);
  }
  
  .--tuscany-btn-color {
    background: linear-gradient(to right, #1bbc9b 0%, #1bbc63 100%);
  }
  
  .--amsterdam-btn-color {
    background: linear-gradient(to right, #f3a46b 0%, #f3c96b 100%);
  }
  
  .--phuket-btn-color {
    background: linear-gradient(to right, #14b9d5 0%, #14d5b1 100%);
  }
  
  .sub-menu__dest-item {
    margin-bottom: 40px;
    position: relative;
    width: 270px;
    height: 270px;
    filter: grayscale(10%);
  }
  
  .dest__europe {
    background: no-repeat center / cover
      url(https://miro.medium.com/v2/resize:fit:1200/1*XqGNOhP-zBMFdDsQu8j-4A.png);
  }
  
  .dest__thailandia {
    background: no-repeat center / cover
      url(https://t3.ftcdn.net/jpg/06/31/75/00/360_F_631750058_AdjYpiooXoZ2KlnVZa2sJhT1udClgg9D.jpg);
  }
  
  .dest__asia {
    background: no-repeat center / cover
      url(https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/6dd83f30826775.563483328eec3.jpg);
  }
  
  .dest__italy {
    background: no-repeat center / cover
      url(https://vibe.us/blog/10-positive-aspects-to-distance-learning/cover_hu3d03a01dcc18bc5be0e67db3d8d209a6_184197_640x0_resize_q90_lanczos.ea326e175ea41a8a8013658ca8ec88b43ed1a14e0e9902f5ab052f97182095a2.jpg);
  }
  
  .dest__netherlands {
    background: no-repeat center / cover
      url(https://ysm-res.cloudinary.com/image/upload/c_limit,f_auto,h_630,q_auto,w_1200/v1/yms/prod/b5cd0cf3-37c6-46bb-9cdb-fe0a40f6890e);
  }
  
  .dest__usa {
    background: no-repeat center / cover
      url(https://www.wabe.org/app/uploads/2023/01/HomegrownPhotoshoot_0004-scaled.jpg);
  }
  
  .dest__item img {
    width: 40px;
    height: 40px;
    margin-left: 24px;
    margin-top: 24px;
  }
  
  .dest__item-info {
    color: #fff;
    background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.15) 0%,
      rgba(0, 0, 0, 0) 100%
    );
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    padding-left: 24px;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .dest__item-title {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
  }
  
  .dest__item-text {
    font-size: 16px;
    letter-spacing: 2px;
  }
  
  .dest__item:hover .dest__overlay {
    opacity: 1;
  }
  .dest__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #dc2525;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: linear 0.5s;
  }
  
  .dest__overlay h5 {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
    margin: 0 0 16px;
  }
  
  .dest__overlay-list {
    list-style: none;
  }
  
  .dest__overlay-link {
    color: #fff;
    text-decoration: none;
    line-height: 1.7;
  }
  
  .dest__overlay-btn {
    padding: 3px 23px;
    background-color: #fff;
    color: #f0273e;
    margin-top: 24px;
    border-radius: 30px;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    transition: linear 0.2s;
  }
  
  .dest__overlay-btn:hover {
    /* animation: ring 1s linear; */
    opacity: 0.95;
    transform: scale(1.03);
  }
  
  @keyframes ring {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(1deg);
    }
    50% {
      transform: rotate(-1deg);
    }
    75% {
      transform: rotate(1deg);
    }
    0% {
      transform: rotate(0deg);
    }
  }

  .dest__wrap {
    width: 80%;
    max-width: 1200px;
    text-align: center;
    margin: 60px auto 0;
    
  }
  
  .dest__list {
    width: 100%;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    margin-left: -6px;
    margin-right: -6px;
    text-align: left;
  }
  
  .dest__item-flex {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    padding: 0 6px;
    margin-bottom: 12px;
  }
  
  .abc {
    width: 100%;
    height: 270px;
    position: relative;
    filter: grayscale(10%);
    height: 380px;
  }
  
  /* END DESTINATION */
  
  /* START NEXT HOLIDAY */
  .next-holiday {
    margin-top: 60px;
    margin-bottom: 60px;
    height: 204px;
    width: 100%;
    background: no-repeat center / cover
      url(https://leloc90.github.io/loveTravel/assets/images/parallax-search-2.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .next-holiday > * {
    width: 32%;
  }
  
  .next-holiday__text-wrap {
    font-size: 46px;
    font-weight: bold;
    color: #fff;
    line-height: 1;
  }
  
  .next-holiday__text-2 {
    display: inline;
  }
  
  .next-holiday__btn-wrap {
    text-align: center;
  }
  .next-holiday__btn {
    color: rgba(237, 32, 49, 0.95);
    background-color: #fff;
    padding: 8px 40px;
    border-radius: 30px;
    text-decoration: none;
    font-size: 14px;
  }
  
  /* END NEXT HOLIDAY */
  
  /* TOURS */
  .tours__container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .tours__beaches {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .beaches__info {
    width: 32%;
    padding: 12px;
    align-self: flex-start;
  }
  
  .beaches__desc {
    font-size: 14px;
    color: var(--primary-text-color);
    margin: 16px 0;
    line-height: 1.8;
    letter-spacing: 1px;
  }
  
  .beaches__price {
    margin-top: 24px;
  }
  
  .beaches__old-price {
    font-size: 30px;
    color: #dadada;
    text-decoration: line-through;
    margin-right: 12px;
  }
  
  .beaches__new-price {
    font-size: 30px;
    color: var(--primary-text-color-2);
  }
  
  .beaches__price-person {
    font-size: 14px;
    color: var(--primary-text-color-2);
  }
  
  .beaches__btn {
    background-color: #f42a2a;
    text-decoration: none;
    padding: 6px 22px 4px;
    font-size: 14px;
    margin-top: 24px;
  }
  
  /* Beach wrap */
  .beaches__wrap {
    width: 65%;
    padding: 12px;
    position: relative;
  }
  
  .beaches__bullets {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .beaches__bullets-item {
    display: inline-block;
    width: 60px;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    z-index: 2;
    margin: 0 4px;
  }
  
  .beaches__bullets-item:hover {
    background-color: #fff;
  }
  
  .beaches__img-container {
    width: 100%;
    height: 400px;
    display: flex;
    overflow-x: scroll;
    scroll-behavior: unset;
  }
  
  .beaches__img-container::-webkit-scrollbar {
    display: none;
  }
  
  .beaches__img-main {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
  }
  
  .beaches__img-1 {
    background: no-repeat center / cover
      url(https://imageio.forbes.com/specials-images/dam/imageserve/1211188566/960x0.jpg?height=474&width=711&fit=bounds);
  }
  
  .beaches__img-2 {
    background: no-repeat center / cover
      url(https://img.freepik.com/premium-photo/african-american-jazz-singer-recording-studio_274679-35364.jpg?w=360);
  }
  
  .beaches__img-3 {
    background: no-repeat center / cover
      url(https://imgix.bustle.com/scary-mommy/2021/08/22/Black-Children-Are-Feeling-Safer-Doing-Remote-Learning-1.jpg?w=1200&h=630&fit=crop&crop=faces&fm=jpg);
  }
  
  .beaches__wrap-time {
    background-color: #24b1b6;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 36%);
  }
  
  .time__block {
    width: 120px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
    position: relative;
  }
  
  .time__block:not(:first-child)::after {
    content: "";
    display: block;
    background-color: rgba(0, 0, 0, 0.08);
    position: absolute;
    left: 0;
    width: 3px;
    height: 64%;
    transform: rotate(12deg);
  }
  
  .time__number {
    font-size: 32px;
  }
  
  .time__text {
    font-size: 13px;
  }
  /* Tour list */
  .tours__list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
  }
  
  .tours__item {
    width: 30%;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  
  .tours__item img {
    width: 46px;
    height: 46px;
    margin-right: 12px;
  }
  
  .tours__info {
    letter-spacing: 1px;
  }
  
  .tours__info h5 {
    font-size: 20px;
    color: var(--primary-text-color-2);
  }
  
  .tours__info p {
    font-size: 13px;
    color: var(--primary-text-color);
    margin: 12px 0;
  }
  
  .tours__info a {
    text-decoration: none;
    color: #1bafaf;
    font-size: 12px;
  }
  
  /* END TOURS */
  
  /* START DISCOVER */
  
  .discover__container {
    margin: 60px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .discover__img-1 {
    background: no-repeat center / cover
      url(https://i.pinimg.com/564x/d6/62/c1/d662c1c1725a7d182c1712d9f1ee106c.jpg);
  }
  
  .discover__img-2 {
    background: no-repeat center / cover
      url(https://i.pinimg.com/564x/ac/e5/ed/ace5ed785beb820ccbf5f202bf5bf3f7.jpg);
  }
  
  .discover__item {
    flex: 1;
    height: 248px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
  }
  
  .discover__item p {
    font-size: 13px;
    color: #fff;
  }
  
  .discover__item h4 {
    font-size: 32px;
    color: #fff;
    margin-bottom: 20px;
  }
  
  .discover__item a {
    text-decoration: none;
    padding: 8px 36px 6px;
    background-color: #fff;
    border-radius: 30px;
    font-size: 14px;
  }
  
  .discover__btn-1 {
    color: #f3a46b;
  }
  
  .discover__btn-2 {
    color: #1bbc9b;
  }
  
  /* END DISCOVER */
  
  /* START PROMOTION */
  
  .promotion__container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
  }
  
  .promotion__wrap {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .promotion__item {
    width: 33%;
    padding: 12px;
  }
  
  .promotion__item-img {
    width: 100%;
    padding-top: 60%;
    position: relative;
  }
  
  .--item-img-1 {
    background: no-repeat center / cover
      url(https://i.pinimg.com/564x/47/e2/8c/47e28cb37314c93cdb615ff64bd2c0e5.jpg);
  }
  
  .--item-img-2 {
    background: no-repeat center / cover
      url(https://i.pinimg.com/564x/4a/0b/ea/4a0bea20dae8f4246f46d4e46cdf547b.jpg);
  }
  
  .--item-img-3 {
    background: no-repeat center / cover
      url(https://i.pinimg.com/564x/88/48/78/884878043ee17464c8972e66effcc716.jpg);
  }
  
  .promotion__item-sticker-1,
  .promotion__item-sticker-2,
  .promotion__item-sticker-3 {
    --sticker-size: 50px;
    position: absolute;
    bottom: -25px;
    right: 20px;
    background-color: #000;
    border-radius: 50%;
    width: var(--sticker-size);
    height: var(--sticker-size);
  }
  
  .promotion__item-sticker-1 {
    background: linear-gradient(to right, #ffd205 0%, #ff9b05 100%);
  }
  
  .promotion__item-sticker-2 {
    background: linear-gradient(to right, #f76570 0%, #f78d65 100%);
  }
  
  .promotion__item-sticker-3 {
    background: linear-gradient(to right, #ba71da 0%, #da717b 100%);
  }
  
  .sticker__img {
    transform: translateY(36%);
    width: 54%;
  }
  
  .promotion__item-info {
    margin-top: 20px;
    text-align: left;
    padding: 0 20px;
    border: 1px solid #f1f1f1;
    border-top: none;
  }
  
  .promotion__item-head {
    letter-spacing: 1px;
  }
  
  .promotion__item-head h5 {
    font-size: 20px;
    color: var(--primary-text-color-2);
  }
  
  .promotion__item-thema {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
  }
  
  .promotion__item-thema-text {
    font-size: 14px;
    letter-spacing: 1px;
    color: var(--primary-text-color-2);
  }
  
  .promotion__item-thema-text span {
    display: inline-block;
    padding: 1px 8px 1px;
    border-radius: 14px;
    font-size: 10px;
    color: #fff;
    line-height: 1.4;
    margin-left: 12px;
    transform: translateY(-2px);
  }
  
  .promotion__item-thema-price {
    font-size: 24px;
    color: var(--primary-text-color-2);
  }
  
  .old-price {
    text-decoration: line-through;
    font-size: 20px;
    opacity: 0.8;
  }
  
  .promotion__item-desc {
    margin-top: 20px;
    font-size: 15px;
    color: var(--primary-text-color);
    line-height: 2;
    letter-spacing: 1px;
  }
  
  .promotion-btn-1,
  .promotion-btn-2,
  .promotion-btn-3 {
    padding: 5px 15px 4px;
    font-size: 13px;
    margin: 20px 0;
  }
  
  .promotion-btn-1 {
    background-color: #ffd205;
  }
  
  .promotion-btn-2 {
    background-color: #f76570;
  }
  
  .promotion-btn-3 {
    background-color: #ba71da;
  }


  
  /* Import Google font - Rubik+Glitch+pop*/

@import url('https://fonts.googleapis.com/css2?family=Ewert&family=Rubik+Glitch+Pop&display=swap')
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Rubik+Glitch+Pop&display;
}

.wrapper {
	max-width: 1100px;
	width: 100%;
	position: relative;
}
.wrapper i {
	top: 50%;
	height: 50px;
	width: 50px;
	cursor: pointer;
	font-size: 1.25rem;
	position: absolute;
	text-align: center;
	line-height: 50px;
	background: #fff;
	border-radius: 50%;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
	transform: translateY(-50%);
	transition: transform 0.1s linear;
}
.wrapper i:active {
	transform: translateY(-50%) scale(0.85);
}
.wrapper i:first-child {
	left: -22px;
}
.wrapper i:last-child {
	right: -22px;
}
.wrapper .carousel {
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: calc((100% / 3) - 12px);
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	gap: 16px;
	border-radius: 8px;
	scroll-behavior: smooth;
	scrollbar-width: none;
}
.carousel::-webkit-scrollbar {
	display: none;
}
.carousel.no-transition {
	scroll-behavior: auto;
}
.carousel.dragging {
	scroll-snap-type: none;
	scroll-behavior: auto;
}
.carousel.dragging .card {
	cursor: grab;
	user-select: none;
}
.carousel :where(.card, .img) {
	display: flex;
	justify-content: center;
	align-items: center;
}
.carousel .card {
	scroll-snap-align: start;
	height: 342px;
	list-style: none;
	background: #fff;
	cursor: pointer;
	padding-bottom: 15px;
	flex-direction: column;
	border-radius: 8px;
}
.carousel .card .img {
	background: #e32f41;
	height: 148px;
	width: 148px;
	border-radius: 50%;
}
.card .img img {
	width: 140px;
	height: 140px;
	border-radius: 50%;
	object-fit: cover;
	border: 4px solid #fff;
}
.carousel .card h2 {
	font-weight: 500;
	font-size: 1.56rem;
	margin: 30px 0 5px;
}
.carousel .card span {
	color: #6a6d78;
	font-size: 1.31rem;
}

@media screen and (max-width: 900px) {
	.wrapper .carousel {
		grid-auto-columns: calc((100% / 2) - 9px);
	}
}

@media screen and (max-width: 600px) {
	.wrapper .carousel {
		grid-auto-columns: 100%;
	}
}

 


  
  @import url('https://fonts.googleapis.com/css2?family=Ewert&display=swap')
  


  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  .ewert-regular {
    font-family: "Ewert", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  
  .container {
    position: relative;
    width: 100%;
    min-height: 100vh; 
    padding: 2rem;
    background-color: #e91a1a;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .form {
    width: 100%;
    max-width: 820px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  
  .contact-form {
    background-color: #d71b1b;
    position: relative;
  }
  
  .circle {
    border-radius: 50%;
    background: linear-gradient(135deg, transparent 20%, #830413);
    position: absolute;
  }
  
  .circle.one {
    width: 130px;
    height: 130px;
    top: 130px;
    right: -40px;
  }
  
  .circle.two {
    width: 80px;
    height: 80px;
    top: 10px;
    right: 30px;
  }
  
  .contact-form:before {
    content: "";
    position: absolute;
    width: 26px;
    height: 26px;
    background-color: #f22424;
    transform: rotate(45deg);
    top: 50px;
    left: -13px;
  }
  
  form {
    padding: 2.3rem 2.2rem;
    z-index: 10;
    overflow: hidden;
    position: relative;
  }
  
  .title {
    color: #fff;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1;
    margin-bottom: 0.7rem;
  }
  
  .input-container {
    position: relative;
    margin: 1rem 0;
  }
  
  .input {
    width: 100%;
    outline: none;
    border: 2px solid #fafafa;
    background: none;
    padding: 0.6rem 1.2rem;
    color: #fff;
    font-weight: 500;
    font-size: 0.95rem;
    letter-spacing: 0.5px;
    border-radius: 5px;
    transition: 0.3s;
  }
  
  textarea.input {
    padding: 0.8rem 1.2rem;
    min-height: 150px;
    border-radius: 5px;
    resize: none;
    overflow-y: auto;
  }
  
  .input-container label {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    padding: 0 0.4rem;
    color: #fafafa;
    font-size: 0.9rem;
    font-weight: 400;
    pointer-events: none;
    z-index: 1000;
    transition: 0.5s;
  }
  
  .input-container.textarea label {
    top: 1rem;
    transform: translateY(0);
  }
  
  .btn {
    padding: 0.6rem 1.3rem;
    background-color: #fff;
    border: 2px solid #fafafa;
    font-size: 0.95rem;
    color: #f41f4a;
    line-height: 1;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    margin: 0;
    width: 100%;
  }
  
  .btn:hover {
    background-color: transparent;
    color: #fff;
  }
  
  .input-container span {
    position: absolute;
    top: 0;
    left: 25px;
    transform: translateY(-50%);
    font-size: 0.8rem;
    padding: 0 0.4rem;
    color: transparent;
    pointer-events: none;
    z-index: 500;
  }
  
  .input-container span:before,
  .input-container span:after {
    content: "";
    position: absolute;
    width: 10%;
    opacity: 0;
    transition: 0.3s;
    height: 5px;
    background-color: #f13434;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .input-container span:before {
    left: 50%;
  }
  
  .input-container span:after {
    right: 50%;
  }
  
  .input-container.focus label {
    top: 0;
    transform: translateY(-50%);
    left: 25px;
    font-size: 0.8rem;
  }
  
  .input-container.focus span:before,
  .input-container.focus span:after {
    width: 50%;
    opacity: 1;
  }
  
  .contact-info {
    padding: 2.3rem 2.2rem;
    position: relative;
  }
  
  .contact-info .title {
    color: #f72626;
  }
  
  .text {
    color: #333;
    margin: 1.5rem 0 2rem 0;
  }
  
  .information {
    display: flex;
    color: #555;
    margin: 0.7rem 0;
    align-items: center;
    font-size: 0.95rem;
  }
  
  .information i {
    color: #f62727;
  }
  
  .icon {
    width: 28px;
    margin-right: 0.7rem;
  }
  
  .social-media {
    padding: 2rem 0 0 0;
  }
  
  .social-media p {
    color: #333;
  }
  
  .social-icons {
    display: flex;
    margin-top: 0.5rem;
  }
  
  .social-icons a {
    width: 35px;
    height: 35px;
    border-radius: 5px;
    background: linear-gradient(45deg, #f42525, #ed354b);
    color: #fff;
    text-align: center;
    line-height: 35px;
    margin-right: 0.5rem;
    transition: 0.3s;
  }
  
  .social-icons a:hover {
    transform: scale(1.05);
  }
  
  .contact-info:before {
    content: "";
    position: absolute;
    width: 110px;
    height: 100px;
    border: 22px solid #bc1a35;
    border-radius: 50%;
    bottom: -77px;
    right: 50px;
    opacity: 0.3;
  }
  
  .big-circle {
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: linear-gradient(to bottom, #f00933, #e24141);
    bottom: 50%;
    right: 50%;
    transform: translate(-40%, 38%);
  }
  
  .big-circle:after {
    content: "";
    position: absolute;
    width: 360px;
    height: 360px;
    background-color: #fafafa;
    border-radius: 50%;
    top: calc(50% - 180px);
    left: calc(50% - 180px);
  }
  
  .square {
    position: absolute;
    height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(181%, 11%);
    opacity: 0.2;
  }
  
  @media (max-width: 850px) {
    .form {
      grid-template-columns: 1fr;
    }
  
    .contact-info:before {
      bottom: initial;
      top: -75px;
      right: 65px;
      transform: scale(0.95);
    }
  
    .contact-form:before {
      top: -13px;
      left: initial;
      right: 70px;
    }
  
    .square {
      transform: translate(140%, 43%);
      height: 350px;
    }
  
    .big-circle {
      bottom: 75%;
      transform: scale(0.9) translate(-40%, 30%);
      right: 50%;
    }
  
    .text {
      margin: 1rem 0 1.5rem 0;
    }
  
    .social-media {
      padding: 1.5rem 0 0 0;
    }
  }
  
  @media (max-width: 480px) {
    .container {
      padding: 1.5rem;
    }
  
    .contact-info:before {
      display: none;
    }
  
    .square,
    .big-circle {
      display: none;
    }
  
    form,
    .contact-info {
      padding: 1.7rem 1.6rem;
    }
  
    .text,
    .information,
    .social-media p {
      font-size: 0.8rem;
    }
  
    .title {
      font-size: 1.15rem;
    }
  
    .social-icons a {
      width: 30px;
      height: 30px;
      line-height: 30px;
    }
  
    .icon {
      width: 23px;
    }
  
    .input {
      padding: 0.45rem 1.2rem;
    }
  
    .btn {
      padding: 0.45rem 1.2rem;
    }
  }
  


